/* estilo del item que se va a renderizar */

.inventoryItemComponent {
    width: 100%;
    height: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 100px 1fr repeat(2, 100px);
    grid-template-rows: 1fr;
    font-family: 'Roboto';
    font-size: 10pt;
    align-items: center;
    border: 1px solid rgb(167, 167, 167);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0.4rem 0.4rem;
    position: relative;
}

/* estilo de los párrafos de renderización */

i {
    color: rgb(108, 108, 108);
}

/* estilo del item cuando no hay existencias */

.vacio {
    background: rgb(249, 74, 74);
}

.caution{
    background: rgb(245, 180, 58)
}

/* estilo de la imagen por defecto */

.dots {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0 0 0 5px;
}

.dots:hover {
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
}

/* estilos de los iconos de estado */

.checkIcon {
    width: 50px;
    height: 50px;
    color: green;
    animation: bounce-scale 5s ease-in-out;
    animation-iteration-count: infinite;
}

.cautionIcon {
    width: 50px;
    height: 50px;
    color: orange;
    animation: bounce-scale 5s ease-in;
    animation-iteration-count: infinite;
}

.dangerIcon {
    width: 50px;
    height: 50px;
    color: red;
    animation: bounce-scale 5s ease-in;
    animation-iteration-count: infinite;
}

@keyframes bounce-scale {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.01);
    }

    20% {
        transform: scale(1.02);
    }

    30% {
        transform: scale(1.03);
    }

    40% {
        transform: scale(1.04);
    }

    50% {
        transform: scale(1.05);
    }

    60% {
        transform: scale(1.04);
    }

    70% {
        transform: scale(1.03);
    }

    80% {
        transform: scale(1.02);
    }

    90% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
    }
}