/* estilos generales del componente */

.spaceOptionComponent {
    width: 100px;
    height: 100px;
    font-style: 'Montserrat';
    font-size: 10pt;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgb(36, 36, 36);
    cursor: pointer;
}

/* estilos condicionados */

.spaceOptionComponent.free {
    background: white;
}

.spaceOptionComponent.free>p:last-child {
    color: green;
    font-weight: 500;
}

.spaceOptionComponent.occupied{
    background: rgb(134, 134, 134);
}

.spaceOptionComponent.occupied>p:last-child{
    color: crimson;
    font-weight: 500;
}