/* estilos del componente */

.spaceCardComponent {
    width: 150px;
    height: 150px;
    font-style: 'Montserrat';
    font-size: 10pt;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 3px;
    padding: 0.5rem;
    box-shadow: 1px 1px 4px rgb(36, 36, 36);
    cursor: pointer;
    position:relative;
}

/* estilos condicionados */

.spaceCardComponent.occupied {
    background: rgb(174, 174, 174);
}

.spaceCardComponent.occupied>p:last-child {
    color: crimson;
    font-weight: 500;
}

.spaceCardComponent.free {
    background: white;
}

.spaceCardComponent.free>p:last-child {
    color: green;
    font-weight: 600;
}

.spaceCardComponent.outService {
    background: rgb(174, 174, 174);
}

.spaceCardComponent.spaceCardComponent.outService>p:last-child {
    font-weight: 600;
}

/* estilos del contenedor del modal de espacios */

.space-card-modal-container {
    width: auto;
    height: auto;
    position: absolute;
}

/* estilos de la sección de botones que cambian el estado del espacio */

.spaceCardBtns {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.spaceCardBtns>button {
    border: 1px solid #324D7E;
    border-radius: 5px;
    background: white;
    color: #324D7E;
    font-size: 8pt;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0.2rem;
}

.spaceCardBtns>button:hover {
    border: 0px;
    background: #324D7E;
    color: white;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.spaceCardBtns>button:active {
    background: #283e66;
    transition: all 0.2s ease-in-out;
}

/* estilos del botón para eliminar */

.spaceDeleteBtn {
    color: red;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.spaceDeleteBtn:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    color: rgb(214, 1, 1);
}

.spaceDeleteBtn:active {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    color: red;
}