.standCard {
    background: white;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(36, 36, 36);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

.standCard > p {
    color: #324D7E;
    font-weight: 600;
    font-size: 11pt;
}

.infoCard {
    height: auto;
    overflow: scroll;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
}

.infoCard::-webkit-scrollbar {
    display: none;
}


.standCard >.infoCard > h3{
    margin: 0;
    width: 100%;
}

.btnRead {
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: #324D7E;
    transition: all 0.2s ease-in-out;
}

.btnRead:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.btnRead:active {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.ShowMore{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.ShowMore:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.formModal > article{
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    padding: 0px 0px 0px 10px;
}

.formModal > article > p{
    font-size: 14pt;
}

.formModal{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}