/* estilos del componente */
.serviceCardComponent {
    width: 200px;
    height: 200px;
    font-style: 'Montserrat';
    font-size: 10pt;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0 0.5rem;
    position: relative;
}

/* estilos del contenido del componente */

.dirIcon {
    width: 100%;
    height: 100%;
    color: #324d7e;
    box-shadow: 1px 1px 4px rgb(36, 36, 36);
    cursor: pointer;
}

.contentSection {
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.6rem;
}

/* estilos condicionados */

.serviceCardComponent.next>.contentSection>p {
    color: white;
}

.serviceCardComponent.next>.contentSection>p:last-child {
    color: white;
    font-weight: 600;
}

.serviceCardComponent.reprogram>.contentSection>p {
    color: white;
}

.serviceCardComponent.reprogram>.contentSection>p:last-child {
    color: rgb(255, 55, 0);
    font-weight: 500;
}

.serviceCardComponent.success {
    background: rgb(188, 188, 188);
}

.serviceCardComponent.success>.dirIcon {
    color: green;
    cursor: pointer;
}

.serviceCardComponent.success>.contentSection>p {
    color: white
}

.serviceCardComponent.success>.contentSection>p:last-child {
    color: white;
    font-weight: 600;
    cursor: none;
}

.serviceCardComponent.reprogram>.dirIcon {
    color: rgb(255, 174, 0);
    cursor: pointer;
}

.serviceCardComponent.reprogram>.contentSection>p:last-child {
    font-weight: 500;
}

.serviceCardComponent.cancel {
    background: rgb(188, 188, 188);
}

.serviceCardComponent.cancel>.dirIcon {
    color: gray;
    cursor: pointer;
}

.serviceCardComponent.cancel>.contentSection>p {
    color: black;
}

.serviceCardComponent.cancel>.contentSection>p:last-child {
    color: red;
    font-weight: 600;
    cursor: none
}

/* estilos del contenedor padre del modal de servicio */
.service-card-modal-container {
    position: absolute;
    width: auto;
    height: auto;
}

/* estilos de los botones del servicio */
.serviceCardBtns {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.serviceCardBtns>button {
    border: 1px solid #324D7E;
    border-radius: 5px;
    background: white;
    color: #324D7E;
    font-size: 8pt;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0.2rem;
}

.serviceCardBtns>button:hover {
    border: 0px;
    background: #324D7E;
    color: white;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.serviceCardBtns>button:active {
    background: #283e66;
    transition: all 0.2s ease-in-out;
}

/* estilos del modal de cada servicio */

.userIconId {
    margin: 5px 0;
    width: 50px;
    height: 50px;
    color: #324D7E;
}

.userAssignedInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-family: 'Montserrat';
    font-size: 12pt;
}

.userAssignedInfo>article>p:first-child {
    font-weight: bolder;
}

.userAssignedInfo>article>p {
    margin: 2px 0;
}